
@using System.Web.Optimization
@using ChatProject.Models
@model ChatModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div id="username"></div>
        <div id="lastrefresh"></div>
    <div id="container">
        <div id="loginblock">
            <input type="text" id="txtusername"/>
            <button id="btnlogin" value="login" type="button">LogIn</button>
        </div>
    </div>
    <div id="error"></div>
    @Ajax.ActionLink("Login", "Index", new { user = "" },
        new AjaxOptions { UpdateTargetId = "container", InsertionMode = InsertionMode.Replace, OnFailure = "LoginOnFailure", OnSuccess = "LoginOnSuccess" },
        new { @id = "LoginButton", @style = "visibility:hidden;" })
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/Chat.js")
    
    </body>
</html>
